body {
  background-color: black;
  color: white;
}
h1.pomodoro-timer {
  color: white;
  font-size: 150px;
}
div.task-area {
  background-color: black!important;
}
li.task-area {
  background-color: black !important;
}
