body {
  background-color: black;
  color: white;
}
h1.pomodoro-timer {
  color: white;
  font-size: 150px;
  margin-bottom: 0px;
}
hr.standard-style {
  border-top: 1px solid white;
}
div.task-area {
  background-color: black !important;
}
li.task-area {
  background-color: black !important;
}
small.pomodoro-state {
  font-size: 32px;
}
div.modal {
  color: black !important;
}
li.task-item {
  color: black !important;
}
